.container{
    padding: 20px;
    background-color: bisque;
}
h1{
    font-size: 100px;
    margin-right: 200px;
}
.home-container{
    display: flex;
}
.home-container img{
    width: 500px;
    margin-top: 100px;
}
.heading-text{
    margin: auto;
}
.reviews-card{
  display: grid;
  grid-template-columns: repeat(3,1fr);
    
}
.btn{
    font-size: 30px;
    margin-right: 400px;
    margin-top: 10px;
    background-color: darkgrey;
    color: darkslateblue;
}

